body {
    background: #f5f7fb;
}

.navbar {
    background: linear-gradient(90deg, #4f46e5, #7c3aed);
}

.card {
    border: none;
    border-radius: 15px;
    transition: 0.3s;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 25px rgba(0,0,0,0.1);
}

.badge {
    font-size: 12px;
}